@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    color: rgba(255, 255, 255, 0.736);
}

/* styles.css */

.lane-status {
    font-size: 0.875rem; /* text-sm */
    padding: 0.25rem 0.5rem; /* px-1 py-1 */
    border-radius: 9999px; /* rounded-full */
    border-width: 2px; /* border-2 */
    transition: color 0.3s, border-color 0.3s;
}

/* Define color states */
.lane-status.open {
    color: #0e852d; /* text-green-500 */
    border-color: #0e852d; /* border-[#0e852dc2] */
}

.lane-status.moderate {
    color: yellow; /* text-yellow-500 */
    border-color: yellow; /* border-yellow-500 */
}

.lane-status.congested {
    color: red; /* text-red-600 */
    border-color: red; /* border-red-600 */
}


/* Add to your CSS file if needed for custom styles */

.dropdown-content {
    position: absolute;
    top: 100%; /* Adjust this to ensure proper spacing */
    left: 0;
    z-index: 20;
    width: 100%;
}

.traffic-light::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red; /* Initial background color */
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 6px;
    animation: blink 1s infinite;
}

/* Define the blinking green effect */
.traffic-light.green::before {
    background-color: rgb(27, 216, 27);
    animation: blink 1s infinite; /* Green light blinks */
}

/* Red light stays static */
.traffic-light.red::before {
    background-color: red;
    animation: blink 1s infinite; /* No blinking for red */
}

.traffic-light-no::before {
    content: "";
    display: inline-block;
    background-color: rgb(233, 233, 37);
}

.traffic-light.red {
    color: red;/* No blinking for red */
    border-color: red;
}

.traffic-light.green {
    color: rgb(27, 216, 27);/* No blinking for red */
    border-color: rgb(27, 216, 27);
}

.blinking {
    animation: blink 1s infinite; /* Blinking effect */
  }
  

@keyframes blink {
    50% { opacity: 0; }
    0%,100% { opacity: 1; }
}


::-webkit-scrollbar {
    display: none;
  }
  