<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Traffic Management System</title>
  <link rel="stylesheet" href="../static/css/output.css" />
  <link rel="stylesheet" href="../static/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body class="font-montserrat">
  <!-- ########################## Navbar ########################## -->
  <div class="flex text-[#201c1cdd] items-center bg-[#121515d5] justify-between font-monteserrat p-3">
    <p class="mt-2 pl-4 font-normal bg-none">Smart AI Traffic Manager</p>

    <div
      class="flex gap-1 font-semibold font-josefin border-2 text-[#000000] text-center border-[#000000] p-1 rounded-lg bg-[#7b7070c3]">
      <button class="bg-[#999494c3] p-1 rounded-lg">Live</button>
      <button class="bg-[#999494c3] p-1 rounded-lg">Preview</button>
    </div>

    <p class="pr-4 font-normal">Delhi, India</p>
  </div>
  <!-- ########################## Navbar End ######################## -->




  <!--  ########################## Main body component ########################## -->
  <div class="h-[calc(100vh-70px)] flex gap-2 w-full">
    <!-- ####################### MAP ###################### -->
    <div id="map" class="flex items-center justify-center w-3/5"></div>

    <!-- ######################### DATA ############################ -->
    <div id="data" class="w-2/5 font-josefin">


      <div class="flex items-center justify-center gap-4 text-3xl mt-2 p-3">

        <!-- ############################# Heading ############################## -->
        <!-- <i class="fa-solid fa-arrow-right-long fa-lg"></i> -->
        <p class="mr-1">
          Delhi
          <span class="fa-solid fa-arrow-right-arrow-left ml-1"></span>
        <p>Agra Intersection Point</p>
        </p>
        <br>
        <hr class="border-1 w-[36%] mx-auto absolute top-32 mt-3 border-[#b9b0b0]" />
      </div>

      <!-- ############################## Lane ################################ -->
      <div class="flex flex-col gap-4 mb-8">


        <!-- ####################  LANE 1 #################### -->
        <div class="flex flex-col mt-6 p-2 relative mx-auto h-32 w-[95%] border-2 rounded-lg overflow-hidden">
          <div class="flex items-center justify-between h-10 border-b-2 w-full border-black border-opacity-10">
            <p class="text-2xl ml-2">Mirzapur S1</p>
            <div class="flex items-center pr-1 py-1 rounded-full mb-2 border-2 border-[#0e852dc2]">
              <p class="text-sm text-green-500 relative congested-open-label">Open Lane</p>
            </div>
          </div>

          <div class="flex font-montserrat flex-col mt-2 px-2">
            <p class="text-sm truncate">No of Vehicles - 56</p>
            <p class="text-sm truncate">Congestion Rate - 40% (more than last hour)</p>
          </div>

          <button class="absolute bottom-1 right-4 p-1 rounded">
            <i class="fa-solid fa-angle-down fa-md"></i>
          </button>
        </div>



        <!-- ####################  LANE 2 #################### -->
        <div class="flex flex-col p-2 relative mx-auto h-32 w-[95%] border-2 rounded-lg overflow-hidden">
          <div class="flex items-center justify-between h-10 border-b-2 w-full border-black border-opacity-10">
            <p class="text-2xl ml-2">Mirzapur S2</p>
            <div class="flex items-center pr-1 py-1 rounded-full mb-2 border-2 border-[#e3e328df]">
              <p class="text-sm text-yellow-500 relative congested-medium-label">Moderate Traffic</p>
            </div>
          </div>

          <div class="flex font-montserrat flex-col mt-2 px-2">
            <p class="text-sm truncate">No of Vehicles - 56</p>
            <p class="text-sm truncate">Congestion Rate - 40% (more than last hour)</p>
          </div>

          <button class="absolute bottom-2 right-4 p-1 rounded">
            <i class="fa-solid fa-angle-down fa-md"></i>
          </button>
        </div>


        <!-- ########################  LANE 3 ####################### -->
        <div class="flex flex-col p-2 relative mx-auto h-32 w-[95%] border-2 rounded-lg overflow-visible">
          <div class="flex items-center justify-between h-10 border-b-2 w-full border-black border-opacity-10">
            <p class="text-2xl ml-2">Mirzapur S3</p>
            <div class="flex items-center pr-1 py-1 rounded-full mb-2 border-2 border-red-600">
              <p class="text-sm text-red-700 relative congested-label">Congested</p>
            </div>
          </div>

          <div class="flex flex-col font-montserrat mt-2 px-2">
            <p class="text-sm truncate">No of Vehicles - 56</p>
            <p class="text-sm truncate">Congestion Rate - 40% (more than last hour)</p>
          </div>

          <div class="relative z-10">
            <button class="absolute right-4" onclick="toggleDropdown('dropdownContent3', 'dropdownIcon3')">
              <i id="dropdownIcon3" class="fa-solid fa-angle-down fa-md"></i>
            </button>
          </div>

          <!-- Dropdown stays within the main container
          <div id="dropdownContent3"
            class="dropdown-content absolute top-24 left-0 mt-8 w-full bg-[#c6e3e85c] border border-gray-300 shadow-lg rounded-lg p-2 z-20 hidden">
            <p>Vehicles/Lane: ?</p>
            <p>Emergency Vehicles Count: ?</p>
            <p>Delay Time: ?</p>
            <video controls autoplay class="w-full mt-2 rounded">
              <source src="https://videos.pexels.com/video-files/20444835/20444835-hd_1920_1080_30fps.mp4"
                type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div> -->
        </div>

        <!-- ####################  LANE 4 #################### -->
        <div class="flex flex-col p-2 relative mx-auto h-32 w-[95%] border-2 rounded-lg overflow-visible">
          <div class="flex items-center justify-between h-10 border-b-2 w-full border-black border-opacity-10">
            <p class="text-2xl ml-2">Mirzapur S4</p>
            <div class="flex items-center pr-1 py-1 rounded-full mb-2 border-2 border-yellow-300">
              <p class="text-sm text-yellow-400 relative congested-medium-label">Moderate Traffic</p>
            </div>
          </div>
          <p
            class="absolute right-2 font-montserrat font-bold text-xl border-2 border-yellow-600 px-1 top-11 mr-2 mt-2">
            00:10
          </p>
          <div class="flex font-montserrat flex-col mt-2 px-2">
            <p class="text-sm truncate">No of Vehicles - 56</p>
            <p class="text-sm truncate">Congestion Rate - 40% (more than last hour)</p>
          </div>

          <div class="relative z-10">
            <button class="absolute right-4" onclick="toggleDropdown('dropdownContent4', 'dropdownIcon4')">
              <i id="dropdownIcon4" class="fa-solid fa-angle-down fa-md"></i>
            </button>
          </div>

          <!-- Dropdown stays within the main container -->
          <!-- <div id="dropdownContent4"
            class="dropdown-content absolute top-20 left-0 mt-8 w-full bg-[#c6e3e85c] border border-gray-300 shadow-lg rounded-lg p-2 z-20 hidden">
            <p>Vehicles/Lane: ?</p>
            <p>Emergency Vehicles Count: ?</p>
            <p>Delay Time: ?</p>
            <video controls autoplay class="w-full mt-2 rounded">
              <source src="https://videos.pexels.com/video-files/20444835/20444835-hd_1920_1080_30fps.mp4"
                type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div> -->
        </div>

      </div>
    </div>
  </div>
  </div>




  <!-- ############################## Script ############################### -->
  <!-- <script>
      fetch("/api/data")
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("data").innerText = data.message;
        });
    </script> -->

  <script src="../static/js/map.js"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHj_8vSiHQUY_aZ_DW4Vzt8jq1CiLPe3Y&callback=initMap&libraries=marker"
    async defer></script>
  <script src="../static/js/button.js" defer></script>

</body>

</html>